.label{
    display: block;
    font-size: larger;
    color: white;
    padding: 5px;
  }
   
  .input{
    font-size: larger;
    padding: 5px;
    margin: 2px;
    
  }
  .btn{
    color: white;
    background-color:#3333c6;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
  }
   